body {
  background-color: lightskyblue;
}

.container {
	margin: 0px 200px;
	text-align: center;
	cursor: pointer;
}

.player {
	border-bottom: solid 1px gray;
	padding: 20px 50px;
}

audio {
	width: 80%;
}

.search {
	padding: 30px 0px;
	border-bottom: 1px solid gray;
}
#search_box {
	height: 30px;
	width: 480px;
	font-size: medium;
}

button {
	height: 30px;
	width: 115px;
	border-radius: 5px;
	font-size: medium;
	margin-left: 20px;
}

.content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}

h2 {
	

}

.result_box {
	list-style-type: none;
	margin-top: 20px;
	width: 150px;
}

#song {
	font-size: small;
}

#band {
	font-weight: bold;
}

#pic {
	height: 150px;
	width: 150px;
}
